<!-- h1 menunjukkan heading 1, biasanya untuk judul -->
<h1>Hello Dunia! Ini HTML pertamaku!</h1>
----------------------------------
<!-- div ini untuk pembagian per block element html yang dibutuhkan -->
<div>
    <!-- p untuk menunjukkan paragraf -->
    <p>Daftar orang terkaya sedunia:</p>
    <!--ul untuk menunjukkan unordered list (daftar yang tidak beraturan)  -->
    <ul>
        <div>
            <!-- untuk menunjukkan list (daftar) -->
            <li>Elon musk</li>
            <li>Warren Buffet</li>
            <li>Bill Gates</li>
            <li>Temen2 telkom:</li>
        </div>

        <!-- ol untuk menunjukkan ordered list (daftar yang beraturan, biasanya akan tampil di browser sebagai angka 1, 2, 3, dst) -->
        <ol>
            <li>Aaron</li>
            <li>Ilham</li>
            <li>Arya</li>
        </ol>
    </ul>
</div>
-----------------------------------
<div>
    <p>Daftar member blackpink:</p>
    <ol>
        <!-- img untuk memasukkan gambar, src adalah 'source', artinya sumber gambar di mana gambar tsb diletakkan -->
        <li>Kim Jennie</li><img src='https://i.pinimg.com/564x/cb/ee/88/cbee8822d13e4ee6aad1e7fa4cf9e672.jpg' height="200px" />
        <li>Lisa</li><img src="phone.png" />
        <li>Rose</li>
        <li>Jisoo</li>
    </ol>
</div>

<p>Nama saya <span>adalah</span>Elon</p>
<li>Tes 123 <img src="" />456</li>
---------------------------------------------------
<div>

</div>